body,* {
    font-family: -apple-system, BlinkMacSystemFont, "Bradley Hand", cursive;
    font-size: 15px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

button {
    cursor: pointer;
    padding: 3px;
}

button:hover{
    background-color: rgb(222, 222, 222);
}

textarea, input{
    border-radius: 7px;
    border: solid 1px grey;
    
}
.container {
    margin: 20px;
    width: 1200px;
}

.tickets {
    margin-top: 20px;
    padding: 20px;
    min-height: 200px;
    border: solid 1px #000;
    border-radius: 10px;
    background-color: rgb(221, 219, 219);
}

.ticket {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    width: 800px;
    margin-bottom: 8px;
    padding: 8px;
    border: solid 1px #000;
    border-radius: 10px;
    background-color: #fff;
}

.ticket-content {
    box-sizing: border-box;
    width: 400px;
    word-wrap: break-word;
}

.add-btn {
    padding: 8px;
    border: solid 1px #000;
    border-radius: 10px;
    background-color: #fff;
}



.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    height: 200px;
    border: solid 1px #000;
    border-radius: 10px;
    background-color: #fff;
}

.modal-form {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.modal-title {
    font-size: 20px;
    margin-bottom: 10px;
}

label {
    display: flex;
    justify-content:space-around;
    padding: 5px;
    width: 350px;
}

.btn-box {
    margin-top: 10px;
}

.cancel-btn , .ok-btn{
    background-color: #fff;
    border: 1px solid grey;
    border-radius: 7px;
}

.delete-modal {
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 500px;
    height: 200px;
    border: solid 1px #000;
    border-radius: 10px;
    background-color: #fff;
}

.hidden {
    display: none;
}